body {
    margin: 0px 0px 0px 0px;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    padding: 0px 0px 0px 0px;

}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    margin: 0px 0px 0px 0px;
}

.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    flex-direction: row-reverse;
    justify-content: space-between;

}

a.nav-link {
    color: white;
    border-right: solid 1px;
}

a.nav-link:hover {
    color: black;
}

.nav-link {
    color: #141619;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    margin: 30px 10px 10px 10px;
}

.aoRedor {
    margin: 0px 10px 0px 10px;
    border: solid 1px #ced4da;
    border-radius: 5px;
}

.titulo {
    margin: 20px 10px 20px 20px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    width: 80%;
}

.vendaFinalizada {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}


img.card-img-top {
    margin: 0px 0px -32px 0px;
    width: 80%;
}

.list-group-item+.list-group-item:hover {
    background-color: #ccccce;
    color: #000000;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    width: 77%;
}

.div2 {
    grid-area: 1 / 2 / 2 / 4;
    width: 70%;
}

.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    margin-top: -19px;
}
ul.nav.justify-content-end {
    font-size: 10px;
    align-items: baseline;
    margin-top: -36px;
}

.table-overflow {
    max-height: 400px;
    overflow-y: auto;
}

.aoredorBotoes {
    margin: -62px 13px 0px 0px;
    padding-top: 0px;
    width: 60%;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 90%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}

.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
    background: #A8BBBF;
}

/* Botoes */
button.btn.btn-lg.finalizar {
    background: #558C2E;
    color: white;
}

button.btn.btn-lg.cancela {
    background: #F26E22;
    color: white;
}

button.btn.btn-lg {
    background: #dee2e6;
    margin: 2px 0px 2px 0px;
    width: 271px;
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
}

ul.nav.flex-column {
    align-items: center;
}

.valorFinal {
    color: #558C2E;
    padding: 229px 0px 0px 94px;
}

.text-muted {
    --bs-text-opacity: 1;
    color: #212529 !important;
    font-size: 19px;
}

.sinal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}


.servidor {
    margin: 0px 5px 0px 0px;
    color: white;
}

.voltar {
    display: flex;
}

table.tableProduto {
    width: 930px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
}

.ProdVenda {
    width: 41%;
}

/* RESPOSIVIDADE */
@media only screen and (max-device-width: 768px) {
    button.btn.btn-lg {
        width: 220px;
        font-size: 15px;
    }

    .produto {
        margin: 5px 0px 0px 0px;
    }
    


}